In [ ]:
%pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/9e/71/756a1be6bee0209d8c0d8c5e3b9fc72c00373f384a4017095ec404aec3ad/pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\maste\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
     ----------------------- -------------- 307.2/502.3 kB 6.3 MB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 6.3 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------  337.9/341.8 kB 10.6 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 7.1 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Obtaining dependency information for numpy>=1.21.0 from https://files.pythonhosted.org/packages/72/b2/02770e60c4e2f7e158d923ab0dea4e9f146a2dbf267fec6d8dc61d475689/numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\maste\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   - -------------------------------------- 0.4/10.6 MB 7.6 MB/s eta 0:00:02
   --- ------------------------------------ 0.8/10.6 MB 10.4 MB/s eta 0:00:01
   ---- ----------------------------------- 1.3/10.6 MB 10.2 MB/s eta 0:00:01
   ------ --------------------------------- 1.7/10.6 MB 9.9 MB/s eta 0:00:01
   -------- ------------------------------- 2.2/10.6 MB 10.0 MB/s eta 0:00:01
   ---------- ----------------------------- 2.7/10.6 MB 9.9 MB/s eta 0:00:01
   ----------- ---------------------------- 3.1/10.6 MB 9.7 MB/s eta 0:00:01
   ------------- -------------------------- 3.6/10.6 MB 10.0 MB/s eta 0:00:01
   -------------- ------------------------- 4.0/10.6 MB 9.8 MB/s eta 0:00:01
   --------------- ------------------------ 4.1/10.6 MB 9.7 MB/s eta 0:00:01
   ----------------- ---------------------- 4.5/10.6 MB 9.0 MB/s eta 0:00:01
   ------------------ --------------------- 4.9/10.6 MB 9.2 MB/s eta 0:00:01
   ------------------- -------------------- 5.3/10.6 MB 8.9 MB/s eta 0:00:01
   --------------------- ------------------ 5.6/10.6 MB 8.8 MB/s eta 0:00:01
   ---------------------- ----------------- 6.1/10.6 MB 8.8 MB/s eta 0:00:01
   ------------------------ --------------- 6.4/10.6 MB 8.7 MB/s eta 0:00:01
   ------------------------- -------------- 6.9/10.6 MB 8.8 MB/s eta 0:00:01
   --------------------------- ------------ 7.2/10.6 MB 8.9 MB/s eta 0:00:01
   ---------------------------- ----------- 7.5/10.6 MB 8.6 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.6 MB 8.5 MB/s eta 0:00:01
   ------------------------------ --------- 8.0/10.6 MB 8.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 8.3 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 8.3 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 8.3 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 8.3 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.6 MB 6.8 MB/s eta 0:00:01
   -------------------------------- ------- 8.6/10.6 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 8.7/10.6 MB 3.9 MB/s eta 0:00:01
   --------------------------------- ------ 8.8/10.6 MB 3.9 MB/s eta 0:00:01
   --------------------------------- ------ 8.9/10.6 MB 3.9 MB/s eta 0:00:01
   ---------------------------------- ----- 9.1/10.6 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.6 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 9.3/10.6 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 9.5/10.6 MB 3.8 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 3.8 MB/s eta 0:00:01
   ------------------------------------- -- 9.8/10.6 MB 3.8 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.6 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 10.1/10.6 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 10.3/10.6 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  10.4/10.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 3.6 MB/s eta 0:00:00
Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ---------------------------------------- 0.2/15.5 MB 4.6 MB/s eta 0:00:04
    --------------------------------------- 0.4/15.5 MB 4.5 MB/s eta 0:00:04
   - -------------------------------------- 0.5/15.5 MB 3.8 MB/s eta 0:00:04
   - -------------------------------------- 0.6/15.5 MB 3.7 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/15.5 MB 3.9 MB/s eta 0:00:04
   -- ------------------------------------- 1.0/15.5 MB 3.8 MB/s eta 0:00:04
   --- ------------------------------------ 1.2/15.5 MB 3.9 MB/s eta 0:00:04
   --- ------------------------------------ 1.4/15.5 MB 3.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.6/15.5 MB 3.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.7/15.5 MB 3.8 MB/s eta 0:00:04
   ---- ----------------------------------- 1.9/15.5 MB 3.8 MB/s eta 0:00:04
   ----- ---------------------------------- 2.0/15.5 MB 3.7 MB/s eta 0:00:04
   ----- ---------------------------------- 2.2/15.5 MB 3.8 MB/s eta 0:00:04
   ------ --------------------------------- 2.4/15.5 MB 3.8 MB/s eta 0:00:04
   ------ --------------------------------- 2.6/15.5 MB 3.8 MB/s eta 0:00:04
   ------- -------------------------------- 2.8/15.5 MB 3.8 MB/s eta 0:00:04
   ------- -------------------------------- 3.0/15.5 MB 3.8 MB/s eta 0:00:04
   ------- -------------------------------- 3.1/15.5 MB 3.8 MB/s eta 0:00:04
   -------- ------------------------------- 3.1/15.5 MB 3.6 MB/s eta 0:00:04
   -------- ------------------------------- 3.2/15.5 MB 3.6 MB/s eta 0:00:04
   -------- ------------------------------- 3.3/15.5 MB 3.4 MB/s eta 0:00:04
   -------- ------------------------------- 3.4/15.5 MB 3.3 MB/s eta 0:00:04
   -------- ------------------------------- 3.4/15.5 MB 3.3 MB/s eta 0:00:04
   -------- ------------------------------- 3.4/15.5 MB 3.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.6/15.5 MB 3.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.7/15.5 MB 3.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.8/15.5 MB 3.1 MB/s eta 0:00:04
   --------- ------------------------------ 3.8/15.5 MB 3.0 MB/s eta 0:00:04
   ---------- ----------------------------- 4.0/15.5 MB 3.0 MB/s eta 0:00:04
   ---------- ----------------------------- 4.2/15.5 MB 3.0 MB/s eta 0:00:04
   ----------- ---------------------------- 4.4/15.5 MB 3.1 MB/s eta 0:00:04
   ----------- ---------------------------- 4.5/15.5 MB 3.1 MB/s eta 0:00:04
   ------------ --------------------------- 4.7/15.5 MB 3.1 MB/s eta 0:00:04
   ------------ --------------------------- 4.8/15.5 MB 3.1 MB/s eta 0:00:04
   ------------ --------------------------- 5.0/15.5 MB 3.1 MB/s eta 0:00:04
   ------------- -------------------------- 5.1/15.5 MB 3.1 MB/s eta 0:00:04
   ------------- -------------------------- 5.3/15.5 MB 3.1 MB/s eta 0:00:04
   -------------- ------------------------- 5.5/15.5 MB 3.2 MB/s eta 0:00:04
   -------------- ------------------------- 5.6/15.5 MB 3.2 MB/s eta 0:00:04
   -------------- ------------------------- 5.6/15.5 MB 3.2 MB/s eta 0:00:04
   -------------- ------------------------- 5.6/15.5 MB 3.2 MB/s eta 0:00:04
   -------------- ------------------------- 5.6/15.5 MB 3.2 MB/s eta 0:00:04
   --------------- ------------------------ 6.2/15.5 MB 3.1 MB/s eta 0:00:04
   ---------------- ----------------------- 6.3/15.5 MB 3.1 MB/s eta 0:00:03
   ---------------- ----------------------- 6.5/15.5 MB 3.1 MB/s eta 0:00:03
   ---------------- ----------------------- 6.6/15.5 MB 3.1 MB/s eta 0:00:03
   ----------------- ---------------------- 6.7/15.5 MB 3.1 MB/s eta 0:00:03
   ----------------- ---------------------- 6.9/15.5 MB 3.1 MB/s eta 0:00:03
   ------------------ --------------------- 7.0/15.5 MB 3.1 MB/s eta 0:00:03
   ------------------ --------------------- 7.2/15.5 MB 3.1 MB/s eta 0:00:03
   ------------------ --------------------- 7.4/15.5 MB 3.1 MB/s eta 0:00:03
   ------------------- -------------------- 7.5/15.5 MB 3.1 MB/s eta 0:00:03
   ------------------- -------------------- 7.7/15.5 MB 3.1 MB/s eta 0:00:03
   -------------------- ------------------- 7.9/15.5 MB 3.2 MB/s eta 0:00:03
   -------------------- ------------------- 8.1/15.5 MB 3.2 MB/s eta 0:00:03
   --------------------- ------------------ 8.2/15.5 MB 3.2 MB/s eta 0:00:03
   --------------------- ------------------ 8.3/15.5 MB 3.1 MB/s eta 0:00:03
   --------------------- ------------------ 8.4/15.5 MB 3.1 MB/s eta 0:00:03
   --------------------- ------------------ 8.5/15.5 MB 3.1 MB/s eta 0:00:03
   ---------------------- ----------------- 8.6/15.5 MB 3.1 MB/s eta 0:00:03
   ---------------------- ----------------- 8.7/15.5 MB 3.1 MB/s eta 0:00:03
   ---------------------- ----------------- 8.8/15.5 MB 3.1 MB/s eta 0:00:03
   ----------------------- ---------------- 9.0/15.5 MB 3.1 MB/s eta 0:00:03
   ----------------------- ---------------- 9.2/15.5 MB 3.1 MB/s eta 0:00:03
   ------------------------ --------------- 9.4/15.5 MB 3.1 MB/s eta 0:00:02
   ------------------------ --------------- 9.5/15.5 MB 3.1 MB/s eta 0:00:02
   ------------------------ --------------- 9.7/15.5 MB 3.1 MB/s eta 0:00:02
   ------------------------- -------------- 9.9/15.5 MB 3.1 MB/s eta 0:00:02
   ------------------------- -------------- 10.1/15.5 MB 3.2 MB/s eta 0:00:02
   -------------------------- ------------- 10.2/15.5 MB 3.2 MB/s eta 0:00:02
   -------------------------- ------------- 10.4/15.5 MB 3.2 MB/s eta 0:00:02
   --------------------------- ------------ 10.6/15.5 MB 3.2 MB/s eta 0:00:02
   --------------------------- ------------ 10.8/15.5 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 11.0/15.5 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 11.2/15.5 MB 3.2 MB/s eta 0:00:02
   ----------------------------- ---------- 11.4/15.5 MB 3.2 MB/s eta 0:00:02
   ----------------------------- ---------- 11.6/15.5 MB 3.2 MB/s eta 0:00:02
   ------------------------------ --------- 11.8/15.5 MB 3.2 MB/s eta 0:00:02
   ------------------------------- -------- 12.1/15.5 MB 3.2 MB/s eta 0:00:02
   ------------------------------- -------- 12.3/15.5 MB 3.2 MB/s eta 0:00:02
   -------------------------------- ------- 12.5/15.5 MB 3.3 MB/s eta 0:00:01
   -------------------------------- ------- 12.7/15.5 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.5 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 13.1/15.5 MB 3.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.3/15.5 MB 3.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.5/15.5 MB 3.4 MB/s eta 0:00:01
   ----------------------------------- ---- 13.7/15.5 MB 3.5 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.5 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.3/15.5 MB 3.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.5 MB 3.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.7/15.5 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.5 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 3.7 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

In [ ]:
import pandas as pd

In [ ]:
salary = pd.read_csv('Data Science Salary 2021 to 2023.csv')
salary.head()

In [ ]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3761 entries, 0 to 3760
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   work_year         3761 non-null   int64
 1   experience_level  3761 non-null   object
 2   employment_type   3761 non-null   object
 3   job_title         3761 non-null   object
 4   salary            3761 non-null   int64
 5   salary_currency   3761 non-null   object
 6   salary_in_usd     3761 non-null   int64
 7   company_location  3761 non-null   object
 8   company_size      3761 non-null   object
dtypes: int64(3), object(6)
memory usage: 264.6+ KB

In [ ]:
salary['salary'].describe()

count    3.761000e+03
mean     1.905999e+05
std      6.711457e+05
min      6.000000e+03
25%      1.000000e+05
50%      1.375000e+05
75%      1.800000e+05
max      3.040000e+07
Name: salary, dtype: float64

In [ ]:
salary['job_title'].value_counts()

job_title
Data Engineer                1040
Data Scientist                840
Data Analyst                  614
Machine Learning Engineer     291
Analytics Engineer            103
                             ...
Compliance Data Analyst         1
BI Data Engineer                1
Deep Learning Researcher        1
Head of Machine Learning        1
Staff Data Analyst              1
Name: count, Length: 93, dtype: int64

In [ ]:
drop_columns = ['salary_currency', 'salary']
salary = salary.drop(
    labels=drop_columns,
    axis=1
)

In [ ]:
salary.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size
0,2023,EN,FT,Applied Scientist,213660,US,L
1,2023,EN,FT,Applied Scientist,130760,US,L
2,2023,EN,FT,Data Quality Analyst,100000,NG,L
3,2023,EN,FT,Compliance Data Analyst,30000,NG,L
4,2023,EN,FT,Applied Scientist,204620,US,L

In [ ]:
column_mapper = {'salary_in_usd':'converted_salary_usd'}
salary = salary.rename (mapper=column_mapper, axis=1)
salary.head()

,work_year,experience_level,employment_type,job_title,converted_salary_usd,company_location,company_size
0,2023,EN,FT,Applied Scientist,213660,US,L
1,2023,EN,FT,Applied Scientist,130760,US,L
2,2023,EN,FT,Data Quality Analyst,100000,NG,L
3,2023,EN,FT,Compliance Data Analyst,30000,NG,L
4,2023,EN,FT,Applied Scientist,204620,US,L

In [ ]:
# Define the list of desired job title - first case - Data Scientist
desired_job_title = ["Data Scientist"]

# Filter the DataFrame to include only the desired job title
filtered = salary[salary['job_title'].isin(desired_job_title)]

# Sort the filtered DataFrame by the "work_year" column with ascending = True
sorted_df = filtered.sort_values(
    by='work_year',
    ascending = True
)

print(sorted_df)

      work_year experience_level employment_type       job_title  \
3760       2020               SE              FT  Data Scientist
3688       2020               EN              FT  Data Scientist
3699       2020               EN              FT  Data Scientist
3700       2020               EN              FT  Data Scientist
3704       2020               EN              FT  Data Scientist
3705       2020               EN              PT  Data Scientist
3706       2020               EN              FT  Data Scientist
3718       2020               MI              FT  Data Scientist
3722       2020               MI              FT  Data Scientist
3723       2020               MI              FT  Data Scientist
3757       2020               SE              FT  Data Scientist
3727       2020               MI              FT  Data Scientist
3754       2020               SE              FT  Data Scientist
3744       2020               SE              FT  Data Scientist
3741       2020               MI              FT  Data Scientist
3740       2020               MI              FT  Data Scientist
3726       2020               MI              FT  Data Scientist
3738       2020               MI              FT  Data Scientist
3736       2020               MI              FT  Data Scientist
3729       2020               MI              FT  Data Scientist
3739       2020               MI              FT  Data Scientist
3534       2021               MI              FT  Data Scientist
3577       2021               MI              FT  Data Scientist
3575       2021               MI              FT  Data Scientist
3574       2021               MI              FT  Data Scientist
3573       2021               MI              FT  Data Scientist
3545       2021               MI              FT  Data Scientist
3543       2021               MI              FT  Data Scientist
3542       2021               MI              FT  Data Scientist
3533       2021               MI              FT  Data Scientist
3489       2021               EN              FT  Data Scientist
3495       2021               EN              FT  Data Scientist
3494       2021               EN              FT  Data Scientist
3490       2021               EN              FT  Data Scientist
3579       2021               MI              FT  Data Scientist
3487       2021               EN              FT  Data Scientist
3476       2021               EN              FT  Data Scientist
3466       2021               EN              FT  Data Scientist
3465       2021               EN              FT  Data Scientist
3464       2021               EN              FT  Data Scientist
3526       2021               MI              FT  Data Scientist
3580       2021               MI              FT  Data Scientist
3488       2021               EN              FT  Data Scientist
3582       2021               MI              FT  Data Scientist
3675       2021               SE              FT  Data Scientist
3581       2021               MI              FT  Data Scientist
3655       2021               SE              FT  Data Scientist
3653       2021               SE              FT  Data Scientist
3648       2021               SE              FT  Data Scientist
3647       2021               SE              FT  Data Scientist
3632       2021               SE              FT  Data Scientist
3612       2021               SE              FT  Data Scientist
3608       2021               MI              FT  Data Scientist
3606       2021               MI              FT  Data Scientist
3661       2021               SE              FT  Data Scientist
3601       2021               MI              FT  Data Scientist
3600       2021               MI              FT  Data Scientist
3596       2021               MI              FT  Data Scientist
3583       2021               MI              FT  Data Scientist
3595       2021               MI              FT  Data Scientist
3593       2021               MI              FT  Data Scientist
3588       2021               MI              FT  Data Scientist
3585       2021               MI              FT  Data Scientist
3584       2021               MI              FT  Data Scientist
3602       2021               MI              FT  Data Scientist
2624       2022               SE              FT  Data Scientist
2623       2022               SE              FT  Data Scientist
2609       2022               SE              FT  Data Scientist
2615       2022               SE              FT  Data Scientist
2614       2022               SE              FT  Data Scientist
2622       2022               SE              FT  Data Scientist
2625       2022               SE              FT  Data Scientist
2662       2022               SE              FT  Data Scientist
2629       2022               SE              FT  Data Scientist
2661       2022               SE              FT  Data Scientist
2669       2022               SE              FT  Data Scientist
2670       2022               SE              FT  Data Scientist
2673       2022               SE              FT  Data Scientist
2674       2022               SE              FT  Data Scientist
2675       2022               SE              FT  Data Scientist
2608       2022               SE              FT  Data Scientist
2676       2022               SE              FT  Data Scientist
2628       2022               SE              FT  Data Scientist
2607       2022               SE              FT  Data Scientist
2534       2022               SE              FT  Data Scientist
2595       2022               SE              FT  Data Scientist
2681       2022               SE              FT  Data Scientist
2485       2022               SE              FT  Data Scientist
2486       2022               SE              FT  Data Scientist
2505       2022               SE              FT  Data Scientist
2506       2022               SE              FT  Data Scientist
2507       2022               SE              FT  Data Scientist
2508       2022               SE              FT  Data Scientist
2524       2022               SE              FT  Data Scientist
2525       2022               SE              FT  Data Scientist
2530       2022               SE              FT  Data Scientist
2531       2022               SE              FT  Data Scientist
2535       2022               SE              FT  Data Scientist
2536       2022               SE              FT  Data Scientist
2537       2022               SE              FT  Data Scientist
2580       2022               SE              FT  Data Scientist
2581       2022               SE              FT  Data Scientist
2592       2022               SE              FT  Data Scientist
2593       2022               SE              FT  Data Scientist
2594       2022               SE              FT  Data Scientist
2606       2022               SE              FT  Data Scientist
2682       2022               SE              FT  Data Scientist
2762       2022               SE              FT  Data Scientist
2689       2022               SE              FT  Data Scientist
2761       2022               SE              FT  Data Scientist
2473       2022               SE              FT  Data Scientist
2771       2022               SE              FT  Data Scientist
2772       2022               SE              FT  Data Scientist
2783       2022               SE              FT  Data Scientist
2784       2022               SE              FT  Data Scientist
2785       2022               SE              FT  Data Scientist
2786       2022               SE              FT  Data Scientist
2758       2022               SE              FT  Data Scientist
2813       2022               SE              FT  Data Scientist
2817       2022               SE              FT  Data Scientist
2818       2022               SE              FT  Data Scientist
2825       2022               SE              FT  Data Scientist
2826       2022               SE              FT  Data Scientist
2849       2022               SE              FT  Data Scientist
2850       2022               SE              FT  Data Scientist
2851       2022               SE              FT  Data Scientist
2852       2022               SE              FT  Data Scientist
2814       2022               SE              FT  Data Scientist
2688       2022               SE              FT  Data Scientist
2757       2022               SE              FT  Data Scientist
2751       2022               SE              FT  Data Scientist
2694       2022               SE              FT  Data Scientist
2695       2022               SE              FT  Data Scientist
2696       2022               SE              FT  Data Scientist
2697       2022               SE              FT  Data Scientist
2698       2022               SE              FT  Data Scientist
2699       2022               SE              FT  Data Scientist
2712       2022               SE              FT  Data Scientist
2713       2022               SE              FT  Data Scientist
2752       2022               SE              FT  Data Scientist
2714       2022               SE              FT  Data Scientist
2716       2022               SE              FT  Data Scientist
2717       2022               SE              FT  Data Scientist
2726       2022               SE              FT  Data Scientist
2727       2022               SE              FT  Data Scientist
2743       2022               SE              FT  Data Scientist
2744       2022               SE              FT  Data Scientist
2745       2022               SE              FT  Data Scientist
2746       2022               SE              FT  Data Scientist
2715       2022               SE              FT  Data Scientist
2472       2022               SE              FT  Data Scientist
2344       2022               SE              FT  Data Scientist
2470       2022               SE              FT  Data Scientist
2177       2022               MI              FT  Data Scientist
2185       2022               MI              FT  Data Scientist
2186       2022               MI              FT  Data Scientist
2187       2022               MI              FT  Data Scientist
2192       2022               MI              FT  Data Scientist
2193       2022               MI              FT  Data Scientist
2205       2022               MI              FT  Data Scientist
2206       2022               MI              FT  Data Scientist
2176       2022               MI              FT  Data Scientist
2213       2022               MI              FT  Data Scientist
2217       2022               MI              FT  Data Scientist
2220       2022               MI              FT  Data Scientist
2250       2022               MI              FT  Data Scientist
2251       2022               MI              FT  Data Scientist
2264       2022               MI              FT  Data Scientist
2265       2022               MI              FT  Data Scientist
2270       2022               MI              FT  Data Scientist
2271       2022               MI              FT  Data Scientist
2214       2022               MI              FT  Data Scientist
2168       2022               MI              FT  Data Scientist
2153       2022               MI              FT  Data Scientist
2147       2022               MI              FT  Data Scientist
2041       2022               MI              FT  Data Scientist
2042       2022               MI              FT  Data Scientist
2043       2022               MI              FT  Data Scientist
2044       2022               MI              FT  Data Scientist
2059       2022               MI              FT  Data Scientist
2060       2022               MI              FT  Data Scientist
2104       2022               MI              FT  Data Scientist
2105       2022               MI              FT  Data Scientist
2106       2022               MI              FT  Data Scientist
2107       2022               MI              FT  Data Scientist
2110       2022               MI              FT  Data Scientist
2116       2022               MI              FT  Data Scientist
2123       2022               MI              FT  Data Scientist
2124       2022               MI              FT  Data Scientist
2135       2022               MI              FT  Data Scientist
2136       2022               MI              FT  Data Scientist
2137       2022               MI              FT  Data Scientist
2138       2022               MI              FT  Data Scientist
2139       2022               MI              FT  Data Scientist
2278       2022               MI              FT  Data Scientist
2471       2022               SE              FT  Data Scientist
2279       2022               MI              FT  Data Scientist
2285       2022               MI              FT  Data Scientist
2364       2022               SE              FT  Data Scientist
2365       2022               SE              FT  Data Scientist
2400       2022               SE              FT  Data Scientist
2401       2022               SE              FT  Data Scientist
2405       2022               SE              FT  Data Scientist
2406       2022               SE              FT  Data Scientist
2409       2022               SE              FT  Data Scientist
2410       2022               SE              FT  Data Scientist
2361       2022               SE              FT  Data Scientist
2415       2022               SE              FT  Data Scientist
2423       2022               SE              FT  Data Scientist
2424       2022               SE              FT  Data Scientist
2429       2022               SE              FT  Data Scientist
2430       2022               SE              FT  Data Scientist
2435       2022               SE              FT  Data Scientist
2436       2022               SE              FT  Data Scientist
2466       2022               SE              FT  Data Scientist
2467       2022               SE              FT  Data Scientist
2416       2022               SE              FT  Data Scientist
2360       2022               SE              FT  Data Scientist
2352       2022               SE              FT  Data Scientist
2351       2022               SE              FT  Data Scientist
2288       2022               MI              FT  Data Scientist
2289       2022               MI              FT  Data Scientist
2290       2022               MI              FT  Data Scientist
2291       2022               MI              FT  Data Scientist
2295       2022               MI              FT  Data Scientist
2301       2022               MI              FT  Data Scientist
2303       2022               MI              FT  Data Scientist
2307       2022               MI              FT  Data Scientist
2310       2022               MI              FT  Data Scientist
2311       2022               MI              FT  Data Scientist
2313       2022               MI              FT  Data Scientist
2314       2022               MI              FL  Data Scientist
2315       2022               SE              FT  Data Scientist
2328       2022               SE              FT  Data Scientist
2329       2022               SE              FT  Data Scientist
2343       2022               SE              FT  Data Scientist
2853       2022               SE              FT  Data Scientist
2349       2022               SE              FT  Data Scientist
2350       2022               SE              FT  Data Scientist
2284       2022               MI              FT  Data Scientist
2854       2022               SE              FT  Data Scientist
2904       2022               SE              FT  Data Scientist
2857       2022               SE              FT  Data Scientist
3185       2022               SE              FT  Data Scientist
3202       2022               SE              FT  Data Scientist
3203       2022               SE              FT  Data Scientist
3220       2022               SE              FT  Data Scientist
3221       2022               SE              FT  Data Scientist
3234       2022               SE              FT  Data Scientist
3235       2022               SE              FT  Data Scientist
3240       2022               SE              FT  Data Scientist
3184       2022               SE              FT  Data Scientist
3241       2022               SE              FT  Data Scientist
3248       2022               SE              FT  Data Scientist
3254       2022               SE              FT  Data Scientist
3255       2022               SE              FT  Data Scientist
3266       2022               SE              FT  Data Scientist
3267       2022               SE              FT  Data Scientist
3276       2022               SE              FT  Data Scientist
3277       2022               SE              FT  Data Scientist
3292       2022               SE              FT  Data Scientist
3247       2022               SE              FT  Data Scientist
3293       2022               SE              FT  Data Scientist
3183       2022               SE              FT  Data Scientist
3145       2022               SE              FT  Data Scientist
3098       2022               SE              FT  Data Scientist
3102       2022               SE              FT  Data Scientist
3103       2022               SE              FT  Data Scientist
3106       2022               SE              FT  Data Scientist
3107       2022               SE              FT  Data Scientist
3108       2022               SE              FT  Data Scientist
3109       2022               SE              FT  Data Scientist
3110       2022               SE              FT  Data Scientist
3182       2022               SE              FT  Data Scientist
3111       2022               SE              FT  Data Scientist
3115       2022               SE              FT  Data Scientist
3116       2022               SE              FT  Data Scientist
3117       2022               SE              FT  Data Scientist
3121       2022               SE              FT  Data Scientist
3122       2022               SE              FT  Data Scientist
3138       2022               SE              FT  Data Scientist
3139       2022               SE              FT  Data Scientist
3144       2022               SE              FT  Data Scientist
3114       2022               SE              FT  Data Scientist
3294       2022               SE              FT  Data Scientist
3295       2022               SE              FT  Data Scientist
3297       2022               SE              FT  Data Scientist
3393       2022               SE              FT  Data Scientist
3394       2022               SE              FT  Data Scientist
3403       2022               SE              FT  Data Scientist
3404       2022               SE              FT  Data Scientist
3405       2022               SE              FT  Data Scientist
3406       2022               SE              FT  Data Scientist
3407       2022               SE              FT  Data Scientist
3408       2022               SE              FT  Data Scientist
3368       2022               SE              FT  Data Scientist
3411       2022               SE              FT  Data Scientist
3425       2022               SE              FT  Data Scientist
3426       2022               SE              FT  Data Scientist
3427       2022               SE              FT  Data Scientist
3428       2022               SE              FT  Data Scientist
3435       2022               SE              FT  Data Scientist
3436       2022               SE              FT  Data Scientist
3445       2022               SE              FT  Data Scientist
3446       2022               SE              FT  Data Scientist
3412       2022               SE              FT  Data Scientist

In [ ]:
# Define the list of desired job title - second case - Data Engineer
desired_job_title = ["Data Engineer"]

# Filter the DataFrame to include only the desired job title
filtered = salary[salary['job_title'].isin(desired_job_title)]

# Sort the filtered DataFrame by the "work_year" column with ascending = True
sorted_df = filtered.sort_values(
    by='work_year',
    ascending = True
)

print(sorted_df)

      work_year experience_level employment_type      job_title  \
3753       2020               SE              FT  Data Engineer
3685       2020               EN              FT  Data Engineer
3686       2020               EN              FT  Data Engineer
3689       2020               EN              FT  Data Engineer
3701       2020               EN              FT  Data Engineer
3709       2020               EX              FT  Data Engineer
3713       2020               MI              FT  Data Engineer
3746       2020               SE              FT  Data Engineer
3720       2020               MI              FT  Data Engineer
3721       2020               MI              FT  Data Engineer
3724       2020               MI              FT  Data Engineer
3737       2020               MI              FT  Data Engineer
3742       2020               MI              FT  Data Engineer
3745       2020               SE              FT  Data Engineer
3716       2020               MI              FT  Data Engineer
3567       2021               MI              FT  Data Engineer
3562       2021               MI              FT  Data Engineer
3561       2021               MI              FT  Data Engineer
3559       2021               MI              FT  Data Engineer
3552       2021               MI              FT  Data Engineer
3550       2021               MI              FT  Data Engineer
3544       2021               MI              FT  Data Engineer
3539       2021               MI              FT  Data Engineer
3498       2021               EN              FT  Data Engineer
3524       2021               MI              FT  Data Engineer
3568       2021               MI              PT  Data Engineer
3492       2021               EN              FT  Data Engineer
3491       2021               EN              FT  Data Engineer
3485       2021               EN              FT  Data Engineer
3473       2021               EN              FT  Data Engineer
3461       2021               EN              FT  Data Engineer
3536       2021               MI              FT  Data Engineer
3569       2021               MI              FT  Data Engineer
3537       2021               MI              FT  Data Engineer
3571       2021               MI              FT  Data Engineer
3677       2021               SE              FT  Data Engineer
3570       2021               MI              FT  Data Engineer
3672       2021               SE              FT  Data Engineer
3650       2021               SE              FT  Data Engineer
3642       2021               SE              FT  Data Engineer
3639       2021               SE              FT  Data Engineer
3638       2021               SE              FT  Data Engineer
3637       2021               SE              FT  Data Engineer
3635       2021               SE              FT  Data Engineer
3645       2021               SE              FT  Data Engineer
3628       2021               SE              FT  Data Engineer
3617       2021               SE              FT  Data Engineer
3610       2021               MI              FT  Data Engineer
3607       2021               MI              FT  Data Engineer
3592       2021               MI              FL  Data Engineer
3589       2021               MI              FT  Data Engineer
3572       2021               MI              FT  Data Engineer
3576       2021               MI              FT  Data Engineer
2444       2022               SE              FT  Data Engineer
2443       2022               SE              FT  Data Engineer
2440       2022               SE              FT  Data Engineer
2439       2022               SE              FT  Data Engineer
2428       2022               SE              FT  Data Engineer
2433       2022               SE              FT  Data Engineer
2419       2022               SE              FT  Data Engineer
2427       2022               SE              FT  Data Engineer
2420       2022               SE              FT  Data Engineer
2458       2022               SE              FT  Data Engineer
2434       2022               SE              FT  Data Engineer
2459       2022               SE              FT  Data Engineer
2491       2022               SE              FT  Data Engineer
2461       2022               SE              FT  Data Engineer
2464       2022               SE              FT  Data Engineer
2465       2022               SE              FT  Data Engineer
2481       2022               SE              FT  Data Engineer
2482       2022               SE              FT  Data Engineer
2489       2022               SE              FT  Data Engineer
2490       2022               SE              FT  Data Engineer
2492       2022               SE              FT  Data Engineer
2495       2022               SE              FT  Data Engineer
2496       2022               SE              FT  Data Engineer
2499       2022               SE              FT  Data Engineer
2412       2022               SE              FT  Data Engineer
2460       2022               SE              FT  Data Engineer
2411       2022               SE              FT  Data Engineer
2346       2022               SE              FT  Data Engineer
2403       2022               SE              FT  Data Engineer
2337       2022               SE              FT  Data Engineer
2338       2022               SE              FT  Data Engineer
2339       2022               SE              FT  Data Engineer
2340       2022               SE              FT  Data Engineer
2341       2022               SE              FT  Data Engineer
2345       2022               SE              FT  Data Engineer
2500       2022               SE              FT  Data Engineer
2356       2022               SE              FT  Data Engineer
2357       2022               SE              FT  Data Engineer
2374       2022               SE              FT  Data Engineer
2375       2022               SE              FT  Data Engineer
2376       2022               SE              FT  Data Engineer
2377       2022               SE              FT  Data Engineer
2380       2022               SE              FT  Data Engineer
2381       2022               SE              FT  Data Engineer
2384       2022               SE              FT  Data Engineer
2385       2022               SE              FT  Data Engineer
2386       2022               SE              FT  Data Engineer
2387       2022               SE              FT  Data Engineer
2388       2022               SE              FT  Data Engineer
2389       2022               SE              FT  Data Engineer
2396       2022               SE              FT  Data Engineer
2397       2022               SE              FT  Data Engineer
2398       2022               SE              FT  Data Engineer
2399       2022               SE              FT  Data Engineer
2404       2022               SE              FT  Data Engineer
2503       2022               SE              FT  Data Engineer
2556       2022               SE              FT  Data Engineer
2509       2022               SE              FT  Data Engineer
2576       2022               SE              FT  Data Engineer
2577       2022               SE              FT  Data Engineer
2578       2022               SE              FT  Data Engineer
2579       2022               SE              FT  Data Engineer
2584       2022               SE              FT  Data Engineer
2585       2022               SE              FT  Data Engineer
2588       2022               SE              FT  Data Engineer
2589       2022               SE              FT  Data Engineer
2590       2022               SE              FT  Data Engineer
2591       2022               SE              FT  Data Engineer
2598       2022               SE              FT  Data Engineer
2599       2022               SE              FT  Data Engineer
2600       2022               SE              FT  Data Engineer
2601       2022               SE              FT  Data Engineer
2602       2022               SE              FT  Data Engineer
2603       2022               SE              FT  Data Engineer
2604       2022               SE              FT  Data Engineer
2605       2022               SE              FT  Data Engineer
2612       2022               SE              FT  Data Engineer
2613       2022               SE              FT  Data Engineer
2616       2022               SE              FT  Data Engineer
2617       2022               SE              FT  Data Engineer
2618       2022               SE              FT  Data Engineer
2619       2022               SE              FT  Data Engineer
2637       2022               SE              FT  Data Engineer
2575       2022               SE              FT  Data Engineer
2504       2022               SE              FT  Data Engineer
2574       2022               SE              FT  Data Engineer
2572       2022               SE              FT  Data Engineer
2510       2022               SE              FT  Data Engineer
2511       2022               SE              FT  Data Engineer
2512       2022               SE              FT  Data Engineer
2513       2022               SE              FT  Data Engineer
2514       2022               SE              FT  Data Engineer
2518       2022               SE              FT  Data Engineer
2519       2022               SE              FT  Data Engineer
2520       2022               SE              FT  Data Engineer
2521       2022               SE              FT  Data Engineer
2526       2022               SE              FT  Data Engineer
2527       2022               SE              FT  Data Engineer
2532       2022               SE              FT  Data Engineer
2533       2022               SE              FT  Data Engineer
2542       2022               SE              FT  Data Engineer
2543       2022               SE              FT  Data Engineer
2544       2022               SE              FT  Data Engineer
2545       2022               SE              FT  Data Engineer
2546       2022               SE              FT  Data Engineer
2547       2022               SE              FT  Data Engineer
2336       2022               SE              FT  Data Engineer
2557       2022               SE              FT  Data Engineer
2566       2022               SE              FT  Data Engineer
2567       2022               SE              FT  Data Engineer
2570       2022               SE              FT  Data Engineer
2571       2022               SE              FT  Data Engineer
2573       2022               SE              FT  Data Engineer
2333       2022               SE              FT  Data Engineer
2247       2022               MI              FT  Data Engineer
2327       2022               SE              FT  Data Engineer
1995       2022               MI              FT  Data Engineer
1996       2022               MI              FT  Data Engineer
2004       2022               MI              FT  Data Engineer
2005       2022               MI              FT  Data Engineer
2006       2022               MI              FT  Data Engineer
2007       2022               MI              FT  Data Engineer
2033       2022               MI              FT  Data Engineer
2034       2022               MI              FT  Data Engineer
2039       2022               MI              FT  Data Engineer
2040       2022               MI              FT  Data Engineer
2054       2022               MI              FT  Data Engineer
2055       2022               MI              FT  Data Engineer
2061       2022               MI              FT  Data Engineer
2062       2022               MI              FT  Data Engineer
2074       2022               MI              FT  Data Engineer
2075       2022               MI              FT  Data Engineer
2078       2022               MI              FT  Data Engineer
2079       2022               MI              FT  Data Engineer
2080       2022               MI              FT  Data Engineer
2081       2022               MI              FT  Data Engineer
2082       2022               MI              FT  Data Engineer
2083       2022               MI              FT  Data Engineer
2084       2022               MI              FT  Data Engineer
2085       2022               MI              FT  Data Engineer
2091       2022               MI              FT  Data Engineer
1994       2022               MI              FT  Data Engineer
1993       2022               MI              FT  Data Engineer
1992       2022               MI              FT  Data Engineer
1985       2022               MI              FT  Data Engineer
1898       2022               EN              FT  Data Engineer
1904       2022               EN              FT  Data Engineer
1910       2022               EN              FT  Data Engineer
1914       2022               EX              FT  Data Engineer
1915       2022               EX              FT  Data Engineer
1916       2022               EX              FT  Data Engineer
1917       2022               EX              FT  Data Engineer
1920       2022               EX              FT  Data Engineer
1921       2022               EX              FT  Data Engineer
1927       2022               EX              FT  Data Engineer
1928       2022               EX              FT  Data Engineer
1931       2022               EX              FT  Data Engineer
2092       2022               MI              FT  Data Engineer
1932       2022               EX              FT  Data Engineer
1944       2022               EX              FT  Data Engineer
1951       2022               EX              FT  Data Engineer
1952       2022               EX              FT  Data Engineer
1968       2022               MI              FT  Data Engineer
1969       2022               MI              FT  Data Engineer
1974       2022               MI              FT  Data Engineer
1975       2022               MI              FT  Data Engineer
1976       2022               MI              FT  Data Engineer
1977       2022               MI              FT  Data Engineer
1980       2022               MI              FT  Data Engineer
1981       2022               MI              FT  Data Engineer
1984       2022               MI              FT  Data Engineer
1943       2022               EX              FT  Data Engineer
2332       2022               SE              FT  Data Engineer
2100       2022               MI              FT  Data Engineer
2119       2022               MI              FT  Data Engineer
2240       2022               MI              FT  Data Engineer
2241       2022               MI              FT  Data Engineer
2242       2022               MI              FT  Data Engineer
2243       2022               MI              FT  Data Engineer
2246       2022               MI              FT  Data Engineer
2638       2022               SE              FT  Data Engineer
2248       2022               MI              FT  Data Engineer
2249       2022               MI              FT  Data Engineer
2252       2022               MI              FT  Data Engineer
2253       2022               MI              FT  Data Engineer
2254       2022               MI              FT  Data Engineer
2255       2022               MI              FT  Data Engineer
2256       2022               MI              FT  Data Engineer
2257       2022               MI              FT  Data Engineer
2266       2022               MI              FT  Data Engineer
2267       2022               MI              FT  Data Engineer
2272       2022               MI              FT  Data Engineer
2273       2022               MI              FT  Data Engineer
2280       2022               MI              FT  Data Engineer
2281       2022               MI              FT  Data Engineer
2297       2022               MI              PT  Data Engineer
2312       2022               MI              FT  Data Engineer
2324       2022               SE              FT  Data Engineer
2325       2022               SE              FT  Data Engineer
2326       2022               SE              FT  Data Engineer
2239       2022               MI              FT  Data Engineer
2238       2022               MI              FT  Data Engineer
2230       2022               MI              FT  Data Engineer
2229       2022               MI              FT  Data Engineer
2120       2022               MI              FT  Data Engineer
2127       2022               MI              FT  Data Engineer
2128       2022               MI              FT  Data Engineer
2150       2022               MI              FT  Data Engineer
2151       2022               MI              FT  Data Engineer
2155       2022               MI              FT  Data Engineer
2156       2022               MI              FT  Data Engineer
2159       2022               MI              FT  Data Engineer
2160       2022               MI              FT  Data Engineer
2170       2022               MI              FT  Data Engineer
2171       2022               MI              FT  Data Engineer
2172       2022               MI              FT  Data Engineer
2101       2022               MI              FT  Data Engineer
2173       2022               MI              FT  Data Engineer
2175       2022               MI              FT  Data Engineer
2194       2022               MI              FT  Data Engineer
2195       2022               MI              FT  Data Engineer
2199       2022               MI              FT  Data Engineer
2200       2022               MI              FT  Data Engineer
2211       2022               MI              FT  Data Engineer
2212       2022               MI              FT  Data Engineer
2215       2022               MI              FT  Data Engineer
2216       2022               MI              FT  Data Engineer
2222       2022               MI              FT  Data Engineer
2223       2022               MI              FT  Data Engineer
2224       2022               MI              FT  Data Engineer
2174       2022               MI              FT  Data Engineer
2643       2022               SE              FT  Data Engineer
2725       2022               SE              FT  Data Engineer
2645       2022               SE              FT  Data Engineer
3170       2022               SE              FT  Data Engineer
3171       2022               SE              FT  Data Engineer
3178       2022               SE              FT  Data Engineer
3179       2022               SE              FT  Data Engineer
3186       2022               SE              FT  Data Engineer
3187       2022               SE              FT  Data Engineer
3194       2022               SE              FT  Data Engineer
3195       2022               SE              FT  Data Engineer
3196       2022               SE              FT  Data Engineer
3197       2022               SE              FT  Data Engineer
3200       2022               SE              FT  Data Engineer
3201       2022               SE              FT  Data Engineer
3207       2022               SE              FT  Data Engineer
3208       2022               SE              FT  Data Engineer
3210       2022               SE              FT  Data Engineer
3211       2022               SE              FT  Data Engineer
3212       2022               SE              FT  Data Engineer
3213       2022               SE              FT  Data Engineer
3216       2022               SE              FT  Data Engineer
3217       2022               SE              FT  Data Engineer
3218       2022               SE              FT  Data Engineer
3219       2022               SE              FT  Data Engineer
3226       2022               SE              FT  Data Engineer
3227       2022               SE              FT  Data Engineer

In [ ]:
#Define the list of desired job title - third case - Data Analyst
desired_job_title = ["Data Analyst"]

# Filter the DataFrame to include only the desired job title
filtered = salary[salary['job_title'].isin(desired_job_title)]

# Sort the filtered DataFrame by the "work_year" column with ascending = True
sorted_df = filtered.sort_values(
    by='work_year',
    ascending = True
)

print(sorted_df)

      work_year experience_level employment_type     job_title  \
3732       2020               MI              FT  Data Analyst
3687       2020               EN              FT  Data Analyst
3692       2020               EN              FT  Data Analyst
3695       2020               EN              FT  Data Analyst
3731       2020               MI              FT  Data Analyst
3698       2020               EN              FT  Data Analyst
3715       2020               MI              FT  Data Analyst
3696       2020               EN              FT  Data Analyst
3458       2021               EN              FT  Data Analyst
3468       2021               EN              PT  Data Analyst
3470       2021               EN              FT  Data Analyst
3478       2021               EN              FT  Data Analyst
3481       2021               EN              FT  Data Analyst
3482       2021               EN              FT  Data Analyst
3522       2021               MI              FT  Data Analyst
3528       2021               MI              FT  Data Analyst
3531       2021               MI              FT  Data Analyst
3477       2021               EN              FT  Data Analyst
3560       2021               MI              FT  Data Analyst
3555       2021               MI              FT  Data Analyst
3659       2021               SE              FT  Data Analyst
3660       2021               SE              FT  Data Analyst
3629       2021               SE              FT  Data Analyst
3649       2021               SE              FT  Data Analyst
3613       2021               SE              FT  Data Analyst
3605       2021               MI              FT  Data Analyst
3604       2021               MI              FT  Data Analyst
3563       2021               MI              FT  Data Analyst
3614       2021               SE              FT  Data Analyst
2245       2022               MI              FT  Data Analyst
2262       2022               MI              FT  Data Analyst
2263       2022               MI              FT  Data Analyst
2268       2022               MI              FT  Data Analyst
2269       2022               MI              FT  Data Analyst
2274       2022               MI              FT  Data Analyst
2283       2022               MI              FT  Data Analyst
2276       2022               MI              FT  Data Analyst
2277       2022               MI              FT  Data Analyst
2282       2022               MI              FT  Data Analyst
2286       2022               MI              FT  Data Analyst
2287       2022               MI              FT  Data Analyst
2244       2022               MI              FT  Data Analyst
2275       2022               MI              FT  Data Analyst
2237       2022               MI              FT  Data Analyst
2166       2022               MI              FT  Data Analyst
2235       2022               MI              FT  Data Analyst
2234       2022               MI              FT  Data Analyst
2218       2022               MI              FT  Data Analyst
2207       2022               MI              FT  Data Analyst
2204       2022               MI              FT  Data Analyst
2203       2022               MI              FT  Data Analyst
2196       2022               MI              FT  Data Analyst
2180       2022               MI              FT  Data Analyst
2167       2022               MI              FT  Data Analyst
2302       2022               MI              FT  Data Analyst
2165       2022               MI              FT  Data Analyst
2134       2022               MI              FT  Data Analyst
2133       2022               MI              FT  Data Analyst
2126       2022               MI              FT  Data Analyst
2236       2022               MI              FT  Data Analyst
2358       2022               SE              FT  Data Analyst
2449       2022               SE              FT  Data Analyst
2392       2022               SE              FT  Data Analyst
2552       2022               SE              FT  Data Analyst
2551       2022               SE              FT  Data Analyst
2550       2022               SE              FT  Data Analyst
2549       2022               SE              FT  Data Analyst
2548       2022               SE              FT  Data Analyst
2517       2022               SE              FT  Data Analyst
2498       2022               SE              FT  Data Analyst
2497       2022               SE              FT  Data Analyst
2494       2022               SE              FT  Data Analyst
2493       2022               SE              FT  Data Analyst
2484       2022               SE              FT  Data Analyst
2483       2022               SE              FT  Data Analyst
2479       2022               SE              FT  Data Analyst
2478       2022               SE              FT  Data Analyst
2477       2022               SE              FT  Data Analyst
2476       2022               SE              FT  Data Analyst
2457       2022               SE              FT  Data Analyst
2393       2022               SE              FT  Data Analyst
2407       2022               SE              FT  Data Analyst
2408       2022               SE              FT  Data Analyst
2421       2022               SE              FT  Data Analyst
2422       2022               SE              FT  Data Analyst
2437       2022               SE              FT  Data Analyst
2359       2022               SE              FT  Data Analyst
2438       2022               SE              FT  Data Analyst
2442       2022               SE              FT  Data Analyst
2125       2022               MI              FT  Data Analyst
2450       2022               SE              FT  Data Analyst
2451       2022               SE              FT  Data Analyst
2452       2022               SE              FT  Data Analyst
2456       2022               SE              FT  Data Analyst
2441       2022               SE              FT  Data Analyst
2115       2022               MI              FT  Data Analyst
2086       2022               MI              FT  Data Analyst
2109       2022               MI              FT  Data Analyst
2002       2022               MI              FT  Data Analyst
1998       2022               MI              FT  Data Analyst
1997       2022               MI              FT  Data Analyst
1987       2022               MI              FT  Data Analyst
1986       2022               MI              FT  Data Analyst
1973       2022               MI              FT  Data Analyst
1972       2022               MI              FT  Data Analyst
1965       2022               MI              FT  Data Analyst
1964       2022               MI              FT  Data Analyst
1962       2022               MI              FT  Data Analyst
1946       2022               EX              FT  Data Analyst
1945       2022               EX              FT  Data Analyst
1896       2022               EN              FT  Data Analyst
1895       2022               EN              FT  Data Analyst
1890       2022               EN              FT  Data Analyst
1886       2022               EN              FT  Data Analyst
1882       2022               EN              FT  Data Analyst
1792       2022               EN              PT  Data Analyst
1798       2022               EN              PT  Data Analyst
1811       2022               EN              FT  Data Analyst
1812       2022               EN              FT  Data Analyst
1816       2022               EN              FT  Data Analyst
1821       2022               EN              FT  Data Analyst
2003       2022               MI              FT  Data Analyst
1847       2022               EN              FT  Data Analyst
1858       2022               EN              FT  Data Analyst
1867       2022               EN              FT  Data Analyst
1869       2022               EN              FT  Data Analyst
1871       2022               EN              FT  Data Analyst
1877       2022               EN              FT  Data Analyst
1880       2022               EN              FT  Data Analyst
1850       2022               EN              PT  Data Analyst
2114       2022               MI              FT  Data Analyst
2008       2022               MI              FT  Data Analyst
2010       2022               MI              FT  Data Analyst
2108       2022               MI              FT  Data Analyst
2098       2022               MI              FT  Data Analyst
2097       2022               MI              FT  Data Analyst
2096       2022               MI              FT  Data Analyst
2095       2022               MI              FT  Data Analyst
2094       2022               MI              FT  Data Analyst
2093       2022               MI              FT  Data Analyst
2087       2022               MI              FT  Data Analyst
2553       2022               SE              FT  Data Analyst
2077       2022               MI              FT  Data Analyst
2076       2022               MI              FT  Data Analyst
2073       2022               MI              FT  Data Analyst
2072       2022               MI              FT  Data Analyst
2071       2022               MI              FT  Data Analyst
2070       2022               MI              FT  Data Analyst
2056       2022               MI              FT  Data Analyst
2053       2022               MI              FT  Data Analyst
2011       2022               MI              FT  Data Analyst
2014       2022               MI              FT  Data Analyst
2015       2022               MI              FT  Data Analyst
2016       2022               MI              FT  Data Analyst
2017       2022               MI              FT  Data Analyst
2037       2022               MI              FT  Data Analyst
2009       2022               MI              FT  Data Analyst
2038       2022               MI              FT  Data Analyst
2046       2022               MI              FT  Data Analyst
2048       2022               MI              FT  Data Analyst
2049       2022               MI              FT  Data Analyst
2050       2022               MI              FT  Data Analyst
2051       2022               MI              FT  Data Analyst
2052       2022               MI              FT  Data Analyst
2045       2022               MI              FT  Data Analyst
2554       2022               SE              FT  Data Analyst
2639       2022               SE              FT  Data Analyst
2560       2022               SE              FT  Data Analyst
3315       2022               SE              FT  Data Analyst
3314       2022               SE              FT  Data Analyst
3313       2022               SE              FT  Data Analyst
3312       2022               SE              FT  Data Analyst
3311       2022               SE              FT  Data Analyst
3304       2022               SE              FT  Data Analyst
3303       2022               SE              FT  Data Analyst
3287       2022               SE              FT  Data Analyst
3286       2022               SE              FT  Data Analyst
3275       2022               SE              FT  Data Analyst
3274       2022               SE              FT  Data Analyst
3271       2022               SE              FT  Data Analyst
3270       2022               SE              FT  Data Analyst
3263       2022               SE              FT  Data Analyst
3262       2022               SE              FT  Data Analyst
3257       2022               SE              FT  Data Analyst
3256       2022               SE              FT  Data Analyst
3168       2022               SE              FT  Data Analyst
3169       2022               SE              FT  Data Analyst
3174       2022               SE              FT  Data Analyst
3175       2022               SE              FT  Data Analyst
3176       2022               SE              FT  Data Analyst
3177       2022               SE              FT  Data Analyst
3316       2022               SE              FT  Data Analyst
3228       2022               SE              FT  Data Analyst
3232       2022               SE              FT  Data Analyst
3233       2022               SE              FT  Data Analyst
3238       2022               SE              FT  Data Analyst
3239       2022               SE              FT  Data Analyst
3245       2022               SE              FT  Data Analyst
3246       2022               SE              FT  Data Analyst
3229       2022               SE              FT  Data Analyst
3147       2022               SE              FT  Data Analyst
3323       2022               SE              FT  Data Analyst
3335       2022               SE              FT  Data Analyst
3424       2022               SE              FT  Data Analyst
3423       2022               SE              FT  Data Analyst
3422       2022               SE              FT  Data Analyst
3421       2022               SE              FT  Data Analyst
3418       2022               SE              FT  Data Analyst
3417       2022               SE              FT  Data Analyst
3414       2022               SE              FT  Data Analyst
3413       2022               SE              FT  Data Analyst
3410       2022               SE              FT  Data Analyst
3409       2022               SE              FT  Data Analyst
3402       2022               SE              FT  Data Analyst
3401       2022               SE              FT  Data Analyst
3398       2022               SE              FT  Data Analyst
3397       2022               SE              FT  Data Analyst
3390       2022               SE              FT  Data Analyst
3389       2022               SE              FT  Data Analyst
3386       2022               SE              FT  Data Analyst
3336       2022               SE              FT  Data Analyst
3337       2022               SE              FT  Data Analyst
3338       2022               SE              FT  Data Analyst
3343       2022               SE              FT  Data Analyst
3344       2022               SE              FT  Data Analyst
3345       2022               SE              FT  Data Analyst
3324       2022               SE              FT  Data Analyst
3346       2022               SE              FT  Data Analyst
3352       2022               SE              FT  Data Analyst
3373       2022               SE              FT  Data Analyst
3374       2022               SE              FT  Data Analyst
3377       2022               SE              FT  Data Analyst
3378       2022               SE              FT  Data Analyst
3385       2022               SE              FT  Data Analyst
3351       2022               SE              FT  Data Analyst
2555       2022               SE              FT  Data Analyst
3146       2022               SE              FT  Data Analyst
3016       2022               SE              FT  Data Analyst
2773       2022               SE              FT  Data Analyst
2768       2022               SE              FT  Data Analyst
2767       2022               SE              FT  Data Analyst
2764       2022               SE              FT  Data Analyst
2763       2022               SE              FT  Data Analyst
2748       2022               SE              FT  Data Analyst
2747       2022               SE              FT  Data Analyst
2731       2022               SE              FT  Data Analyst
2730       2022               SE              FT  Data Analyst
2721       2022               SE              FT  Data Analyst
2720       2022               SE              FT  Data Analyst
2709       2022               SE              FT  Data Analyst
2708       2022               SE              FT  Data Analyst
2707       2022               SE              FT  Data Analyst
2774       2022               SE              FT  Data Analyst
2706       2022               SE              FT  Data Analyst
2700       2022               SE              FT  Data Analyst
2691       2022               SE              FT  Data Analyst
2690       2022               SE              FT  Data Analyst
2680       2022               SE              FT  Data Analyst
2640       2022               SE              FT  Data Analyst
2634       2022               SE              FT  Data Analyst
2633       2022               SE              FT  Data Analyst
2611       2022               SE              FT  Data Analyst
2610       2022               SE              FT  Data Analyst
2583       2022               SE              FT  Data Analyst
2582       2022               SE              FT  Data Analyst
2563       2022               SE              FT  Data Analyst
2562       2022               SE              FT  Data Analyst
2561       2022               SE              FT  Data Analyst
2701       2022               SE              FT  Data Analyst
3099       2022               SE              FT  Data Analyst
2775       2022               SE              FT  Data Analyst
2779       2022               SE              FT  Data Analyst
3015       2022               SE              FT  Data Analyst
3014       2022               SE              FT  Data Analyst
3013       2022               SE              FT  Data Analyst
2990       2022               SE              FT  Data Analyst
2989       2022               SE              FT  Data Analyst
2960       2022               SE              FT  Data Analyst
2959       2022               SE              FT  Data Analyst
2933       2022               SE              CT  Data Analyst
2927       2022               SE              FT  Data Analyst
2926       2022               SE              FT  Data Analyst
2919       2022               SE              FT  Data Analyst
2918       2022               SE              FT  Data Analyst
2899       2022               SE              FT  Data Analyst
2898       2022               SE              FT  Data Analyst
2776       2022               SE              FT  Data Analyst
2887       2022               SE              FT  Data Analyst
2879       2022               SE              FT  Data Analyst
2780       2022               SE              FT  Data Analyst
2787       2022               SE              FT  Data Analyst
2788       2022               SE              FT  Data Analyst
2819       2022               SE              FT  Data Analyst
2820       2022               SE              FT  Data Analyst
2829       2022               SE              FT  Data Analyst
2886       2022               SE              FT  Data Analyst
2830       2022               SE              FT  Data Analyst
2836       2022               SE              FT  Data Analyst
2839       2022               SE              FT  Data Analyst
2840       2022               SE              FT  Data Analyst
2845       2022               SE              FT  Data Analyst
2846       2022               SE              FT  Data Analyst
2878       2022               SE              FT  Data Analyst
2835       2022               SE              FT  Data Analyst
2679       2022               SE              FT  Data Analyst
1753       2023               SE              FT  Data Analyst
1754       2023               SE              FT  Data Analyst
11         2023               EN              FT  Data Analyst
1728       2023               SE              FT  Data Analyst
458        2023               MI              FT  Data Analyst
462        2023               MI              FT  Data Analyst
463        2023               MI              FT  Data Analyst
464        2023               MI              FT  Data Analyst
465        2023               MI              FT  Data Analyst
472        2023               MI              FT  Data Analyst
473        2023               MI              FT  Data Analyst